<%= link_to blog_posts_path, class: 'px-4 py-2 bg-gray-200 rounded hover:bg-gray-300' do %>
  <i class="fa-solid fa-arrow-left"></i> Back
<% end %>
<div class="max-w-3xl mx-auto p-6 bg-white rounded shadow-lg">
  <div class="flex space-x-2 justify-end">
    <%= link_to edit_blog_post_path(@blog_post), class: 'p-2 bg-yellow-400 text-white rounded hover:bg-yellow-500' do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
    <%= link_to @blog_post, method: :delete, data: { confirm: 'Are you sure?' },
                class: 'p-2 bg-red-400 text-white rounded hover:bg-red-600' do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  </div>

  <h1 class="text-3xl font-bold mb-2"><%= @blog_post.title %></h1>
  <p class="text-gray-600 mb-1"><strong>By:</strong> <%= @blog_post.author_name %></p>
  <p class="text-sm text-gray-400 mb-4">Posted on <%= @blog_post.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>

  <div class="prose prose-violet max-w-none mb-8">
    <%= @blog_post.content %>
  </div>

  <hr class="my-6">

  <div class="feedbacks">
    <h3 class="text-xl font-semibold mb-4">Feedbacks (<%= @blog_post.feedbacks.count %>)</h3>

    <% if @blog_post.feedbacks.any? %>
      <% @blog_post.feedbacks.order(created_at: :desc).each do |feedback| %>
        <div class="mb-4 flex items-start space-x-4 ">
          <div class="p-4 bg-white rounded-lg shadow w-full ">
            <div class="flex justify-between items-center mb-1">
              <p class="font-semibold text-gray-800 mr-4"><%= feedback.commenter_name %></p>
              <span class="text-sm text-gray-500">
                <%= feedback.created_at.strftime("%B %d, %Y at %I:%M %p") %>
              </span>
            </div>
            <p class="text-gray-700"><%= feedback.content.to_s %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-gray-500">No feedback yet. Be the first to leave feedback!</p>
    <% end %>
  </div>

  <div class="feedback-form mt-8">
    <h4 class="text-lg font-semibold mb-4">Leave Feedback</h4>
    <%= render 'blog_posts/shared/feedback_form', blog_post: @blog_post, feedback: @feedback %>
  </div>
</div>
