<!DOCTYPE html>
<html>
  <head>
    <title>BlogPostApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  </head>
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 20px; }
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%; 
        margin: 0;
        gap: 20px;
        }
    </style>
  <body>
    <div class="container">
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
